<h1>注文履歴一覧</h1>

<table>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
    </tr>
  </thead>

  <% @orders.each do |order| %>
  <tbody>
  <tr>
    <td> <%= link_to(order.created_at, admin_order_path(order.id)) %></td>
    <td><%= order.customer.first_name %><%= order.customer.last_name %></td>
    <td>
      <% @sum=0 %>
      <% order.order_details.each do |detail| %>
      <% @sum+=detail.amount %>
      <% end %>
      <%= @sum %>
    </td>

  </tr>
  <% end %>
  </tbody>
  </table>
